$block-height: 60px;
$block-padding: 7px;

#container {
  height: 100vh;
}

.title {
  text-align: center;
}

.setup {
  text-align: right;
  margin-bottom: 15px;
}

.saisie,
.resultat {
  height: $block-height;
  margin-bottom: 10px;
  border-radius: $block-height;
  padding: $block-padding;
  text-align: center;
}

.saisie {
  border: crimson solid 2px;
}

.resultat {
  background-color: crimson;
  color: white;
  line-height: $block-height - $block-padding;
  ;
}

.reduction {
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.reduction button {
  height: 50px;
  width: 75px;
  border: solid crimson 1px;
  background-color: transparent;
  border-radius: 24px;
  color: crimson;
  font-weight: bold;
}

.reduction button:active {
  background-color: rgb(221, 63, 95);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reduction button:hover {
  background-color: rgb(161, 7, 38);
}


.custom-reduction {
  text-align: center;
  margin-bottom: 10px;
}



ion-range {
  background-color: antiquewhite;
}
